.catalog_banner {
  background: #2a3072;
}

.catalog_banner_heading {
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.catalog_banner_heading h1 {
  color: #fff;
  font-family: "Product Sans";
  font-size: 50px;
  font-weight: 700;
  line-height: 65px;
  text-transform: capitalize;
}

.catalog_filter_outer {
  background-color: #f7f7f7;
  border-radius: 20px;
  position: absolute;
  top: 100%;
  z-index: 1;
  transform: translate(0%, -50%);
  width: 100%;
}

.catalog_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 50px;
}

.filter_left-list {
  display: flex;
  list-style: none;
  gap: 35px;
}

.filter_left-list li {
  color: #2a3072;
  font-family: "Product Sans";
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

.filter_left-list li span {
  line-height: 0;
  margin-left: 5px;
}

.filter_right select {
  margin-left: 20px;
  padding: 15px 70px 15px 16px;
  border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #0000001a;
  background-color: #fff;
  color: #666;
  font-family: "Product Sans";
  font-size: 17px;
  font-weight: 400;
}

.inner_filter_dropdown {
  background-color: #fff;
  position: absolute;
  top: 100%;
  transform: translate(-50%, -10%);
  padding: 30px;
  width: 95%;
  left: 50%;
  border-radius: 20px;
  box-shadow: 4px 4px 7px 0px rgba(30, 30, 30, 0.2);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: 0.3s ease-in-out;
}

.inner_filter_dropdown--active {
  opacity: 1;
  pointer-events: all;
  visibility: visible;
}

.inner_list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.inner_list li {
  border-radius: 10px;
  background: #f7f7f7;
  padding: 10px;
}

.inner_list li label {
  color: #666;
  font-family: "Product Sans";
  font-size: 17px;
  font-weight: 500;
  text-transform: capitalize;
}

/* catalog Main Card */

.catalog_main_card {
  padding: 100px 0 50px 0;
}

.catalog_main_bg {
  background-color: #f7f7f7;
  border-radius: 20px;
  padding: 10px;
  margin-top: 20px;
}

.compount_img img {
  width: 100%;
  border-radius: 15px;
}

.compount_img_details ul {
  list-style: none;
  padding: 10px 15px;
}

.compount_img_details ul li {
  display: flex;
  justify-content: space-between;
}

.compount_img_details ul li .detail_type,
.compount_img_details ul li .detail_desc {
  color: #666;
  font-family: "Product Sans";
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 0;
}

.compount_img_details ul li .detail_desc {
  font-weight: 700;
}

.catalog_main_content {
  max-width: 100% !important;
}

.cata_main_mrt {
  margin-top: 70px;
}

.cstm_mrg {
  margin-top: 30px !important;
}

/* catalog Main Card */

/* home page catalog card */
.catalog_card {
  background-color: #f7f7f7;
  padding: 10px 10px 28px 10px;
  border-radius: 16px;
  transition: 0.3s ease-in-out;
}

.catalog_card:hover {
  background-color: #fff;
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.catalog_card > img {
  display: block;
  margin: auto;
  width: 100%;
}

.catalog_content {
  max-width: 350px;
  margin: auto;
}

.catalog_content p {
  color: #666;
  font-family: "Product Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  margin: 14px auto;
}

.catalog_content select {
  border-radius: 14px;
  border: 1px solid #d1d1d1;
  padding: 13px;
  width: 160px;
  background-color: transparent;
}

.stock span {
  font-family: "Product Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  margin-left: 10px;
}

.order_btn {
  margin-top: 25px;
}

.order_btn svg {
  margin-right: 10px;
}

.cart-img {
  margin-right: 10px !important;
  margin-left: 0 !important;
  transition: 0.5s ease-in-out;
}

.add_to_cart:hover img {
  filter: brightness(0) invert(1);
}

.order_btn a {
  color: #2a3072;
  font-family: "Product Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  text-align: center;
  display: block;
  margin-top: 15px;
  transition: 0.5s ease-in-out;
}

.order_btn a:hover {
  color: #34caff;
}

/* pagination */
.rc-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* home page catalog card */

/* catalog detail page */

.catalog_single_banner {
  min-height: 600px;
  position: relative;
  background-color: #2a3072;
  padding-bottom: 90px;
}

.catalog_single_banner::after {
  content: "";
  background-color: #fff;
  position: absolute;
  height: 63%;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.catalog_banner_heading_single {
  padding-top: 70px;
}

.catalog_banner_heading_single h1 {
  color: #fff;
  line-height: 36px;
  max-width: 960px;
  margin: 25px auto 50px auto;
  font-size: 32px;
  text-transform: capitalize;
  text-align: center;
}

.catalog_banner_content p {
  text-align: center;
  color: #fff;
  font-family: "Product Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-transform: capitalize;
  margin-bottom: 0;
}

.catalog_details {
  position: relative;
  z-index: 2;
}

.catalog_detail_img {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 17px 4px 40px 0px rgba(30, 30, 30, 0.2);
  padding: 20px;
}

.catalog_detail_img img {
  width: 100%;
  height: 100%;
  max-width: 500px;
  object-fit: contain;
}

.catalog_details_list {
  border-radius: 20px;
  background: #f7f7f7;
}

.catalog_details_list ul {
  list-style: none;
  padding: 30px 60px;
}

.catalog_details_list ul li {
  display: flex;
  justify-content: space-between;
}

.catalog_details_list ul li .detail_type_1,
.catalog_details_list ul li .detail_desc_1 {
  color: #666;
  font-family: "Product Sans";
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 6px;
}

.catalog_details_list ul li .detail_desc_1 {
  font-weight: 700;
}

.catalog_details_vss > p {
  max-width: 670px;
  color: #666;
  font-family: "Product Sans";
  font-size: 18px;
  font-weight: 400;
  margin-top: 40px;
  margin-bottom: 0;
}

.catalog_quantity_price {
  display: flex;
  gap: 70px;
  padding: 25px 0;
}

.catalog_options {
  position: relative;
}

.catalog_options::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 106px;
  background-color: #666;
  top: 50%;
  right: -15%;
  z-index: 1;
  transform: translate(0%, -50%);
}

.catalog_options h3,
.catalog_price h3 {
  color: #666;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}

.catalog_price h3 {
  color: #2e2e2e;
}

.catalog_options select {
  border-radius: 10px;
  background-color: #fff;
  border-radius: 10px;
  padding: 15px 15px 15px 15px;
  width: 300px;
  color: #666;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.catalog_price span {
  color: #2e2e2e;
  font-family: "Product Sans";
  font-size: 42px;
  font-weight: 700;
}

.add_to_cart_btn {
  width: 100%;
  max-width: 300px;
  background-color: #fff;
}

.information_box {
  width: 370px;
  height: 386px;
  border-radius: 20px;
  background: #f7f7f7;
  margin-bottom: 90px;
}

.information_box ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
}

.information_box ul li {
  color: #666;
  font-family: "Product Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.information_box ul li:hover {
  font-weight: 700;
}

/* responsive */
@media only screen and (max-width: 1600px) {
  .catalog_banner_heading h1 {
    font-size: 40px;
  }

  .catalog_inner {
    padding: 18px 35px;
  }

  .filter_left-list {
    gap: 23px;
  }

  .filter_left-list li {
    font-size: 17px;
  }

  .filter_right select {
    margin-left: 20px;
    padding: 15px 30px 15px 13px;
    font-size: 16px;
  }

  .catalog_main_card {
    padding: 75px 0 50px 0;
  }

  .compount_img_details ul li .detail_type,
  .compount_img_details ul li .detail_desc {
    font-size: 17px;
  }

  .catalog_content p {
    margin-bottom: 0;
    font-size: 17px;
  }

  .cata_main_mrt {
    margin-top: 35px;
  }

  .catalog_content select {
    padding: 12px;
    font-size: 16px;
  }

  .stock span {
    font-size: 17px;
  }

  .cstm_mrg {
    margin-top: 20px !important;
  }

  .inner_filter_dropdown {
    padding: 17px;
  }

  .inner_list {
    gap: 20px;
  }

  .order_btn a {
    font-size: 17px;
  }

  .catalog_single_banner {
    padding-bottom: 70px;
  }

  .catalog_banner_heading_single h1 {
    font-size: 28px;
  }

  .catalog_details_list ul {
    padding: 25px 45px;
  }

  .catalog_details_list ul li .detail_type_1,
  .catalog_details_list ul li .detail_desc_1 {
    font-size: 17px;
  }

  .catalog_details_vss > p {
    font-size: 17px;
    margin-top: 30px;
  }

  .catalog_options h3,
  .catalog_price h3 {
    font-size: 18px;
  }

  .catalog_price span {
    font-size: 38px;
  }

  .add_to_cart_btn {
    max-width: 262px;
  }

  .information_box {
    margin-bottom: 70px;
  }

  .information_box ul {
    gap: 25px;
  }

  .information_box ul li {
    font-size: 18px;
  }
}

@media only screen and (max-width: 1400px) {
  .catalog_banner_heading h1 {
    font-size: 35px;
  }

  .catalog_inner {
    padding: 15px 25px;
  }

  .inner_filter_dropdown {
    padding: 15px;
  }

  .filter_left-list li {
    font-size: 16px;
  }

  .inner_list li label {
    font-size: 16px;
  }

  .inner_list {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 15px;
  }

  .catalog_content p {
    margin-bottom: 0;
    font-size: 16px;
  }

  .compount_img_details ul li .detail_type,
  .compount_img_details ul li .detail_desc {
    font-size: 16px;
  }

  .catalog_main_card {
    padding: 70px 0 50px 0;
  }

  .catalog_banner_heading_single h1 {
    margin: 17px auto 38px auto;
  }

  .cata_main_mrt {
    margin-top: 20px;
  }

  .order_btn {
    margin-top: 17px;
  }

  .order_btn a {
    font-size: 16px;
  }

  .cstm_mrg {
    margin-top: 11px !important;
  }

  .stock span {
    font-size: 15px;
  }

  .filter_right select {
    margin-left: 20px;
    padding: 12px 30px 12px 13px;
    font-size: 14px;
  }

  .catalog_banner_heading_single h1 {
    font-size: 24px;
  }

  .catalog_details_list ul {
    padding: 20px 35px;
  }

  .catalog_single_banner {
    padding-bottom: 50px;
  }

  .catalog_options select {
    width: 230px;
    font-size: 17px;
  }

  .catalog_price span {
    font-size: 36px;
  }

  .catalog_details_vss > p {
    font-size: 16px;
    margin-top: 17px;
  }

  .information_box {
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 1200px) {
  .catalog_banner_heading {
    min-height: 250px;
  }

  .catalog_banner_heading h1 {
    font-size: 30px;
  }

  .filter_left-list {
    gap: 15px;
  }

  .filter_right select {
    margin-left: 12px;
  }

  .catalog_details_list ul {
    padding: 17px 25px;
  }

  .catalog_details_list ul li .detail_type_1,
  .catalog_details_list ul li .detail_desc_1 {
    font-size: 16px;
  }

  .catalog_options select {
    width: 200px;
    font-size: 16px;
  }

  .catalog_price span {
    font-size: 32px;
  }

  .add_to_cart_btn {
    max-width: 222px;
  }

  .information_box {
    height: 300px;
  }

  .information_box ul {
    gap: 20px;
  }

  .information_box ul li {
    font-size: 17px;
  }

  .catalog_banner_heading_single {
    padding-top: 45px;
  }

  .catalog_banner_heading_single h1 {
    margin: 15px auto 30px auto;
  }
  .catalog_single_banner::after {
    height: 65%;
  }
}

@media only screen and (max-width: 991px) {
  .filter_left-list li {
    font-size: 14px;
  }

  .catalog_inner {
    padding: 20px 15px 27px 15px;
  }

  .inner_list li label {
    font-size: 14px;
  }

  .filter_right select {
    padding: 8px 30px 8px 13px;
  }

  .inner_filter_dropdown {
    transform: translate(-50%, -3%);
  }

  .catalog_single_banner::after {
    height: 71%;
  }

  .catalog_details_list {
    margin-top: 35px;
  }

  .catalog_detail_img img {
    max-width: 370px;
  }
  .catalog_quantity_price {
    padding: 15px 0;
  }
  .catalog_single_banner {
    padding-bottom: 35px;
  }

  .information_box {
    margin-bottom: 35px;
  }
}

@media only screen and (max-width: 880px) {
  .catalog_inner {
    flex-direction: column;
    row-gap: 10px;
  }
}

@media only screen and (max-width: 767px) {
  .catalog_content p {
    font-size: 16px;
  }

  .catalog_banner_heading_single h1 {
    font-size: 20px;
  }

  .catalog_details_list ul {
    padding: 15px 20px;
  }

  .catalog_price span {
    font-size: 28px;
  }

  .catalog_quantity_price {
    gap: 55px;
  }

  .catalog_options select {
    padding: 10px 15px 10px 15px;
  }

  .information_box ul {
    gap: 15px;
  }

  .information_box ul li {
    font-size: 16px;
  }

  .information_box {
    height: 250px;
  }
}

@media only screen and (max-width: 575px) {
  .catalog_content p {
    font-size: 15px;
    line-height: 25px;
  }

  .compount_img_details ul {
    padding: 10px 0;
  }

  .compount_img_details ul li .detail_type,
  .compount_img_details ul li .detail_desc {
    font-size: 15px;
  }

  .catalog_content select {
    font-size: 14px;
  }

  .order_btn a {
    font-size: 14px;
  }

  .inner_list {
    gap: 10px;
  }

  .catalog_banner_heading_single h1 {
    font-size: 18px;
  }

  .catalog_banner_heading_single {
    padding-top: 45px;
  }

  .catalog_details_list ul li .detail_type_1,
  .catalog_details_list ul li .detail_desc_1 {
    font-size: 15px;
  }

  .catalog_details_vss > p {
    font-size: 15px;
    margin-top: 15px;
  }

  .catalog_price span {
    font-size: 25px;
  }

  .catalog_quantity_price {
    gap: 42px;
  }

  .catalog_banner_heading_single h1 {
    line-height: 28px;
    margin: 17px auto 30px auto;
  }

  .catalog_options select {
    width: 160px;
    font-size: 14px;
    padding: 10px 10px 10px 10px;
  }

  .information_box ul li {
    font-size: 15px;
  }
}

@media only screen and (max-width: 500px) {
  .filter_left-list {
    display: block;
  }

  .filter_left-list li {
    font-size: 14px;
    margin-bottom: 13px;
  }

  .catalog_inner {
    row-gap: 0;
  }

  .inner_list {
    gap: 0;
  }

  .catalog_main_card {
    padding: 100px 0 50px 0;
  }
}

/* PAGINATION */
.catalog_main_card .rc-pagination {
  width: max-content;
  display: block;
  margin: 20px auto 0 auto;
  border-radius: 10px;
  background: #f7f7f7;
  padding: 8px 18px;
}

.catalog_main_card .rc-pagination .rc-pagination-prev,
.catalog_main_card .rc-pagination .rc-pagination-next {
  display: none;
}

.catalog_main_card .rc-pagination .rc-pagination-item {
  display: inline-block;
  min-width: 28px;
  height: 28px;
  margin-right: 0;
  text-align: center;
  vertical-align: middle;
  list-style: none;
  background-color: #f7f7f7;
  border: none;
  border-radius: 0;
  outline: 0;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  color: #2e2e2e;
  font-family: "Product Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  margin-right: 10px;
}

.catalog_main_card .rc-pagination .rc-pagination-item-active {
  background: #34caff;
  border-radius: 5px;
}
